/* FONT */
@font-face {
    font-family: Avenir Next;
    src: url(/resources/font/AvenirNextLTPro-Regular.otf);
}

body{
	font-family: 'Avenir Next', 'Raleway', sans-serif;
	padding: 20px;
}

img{
	max-width: 100%;
}

.left-column{
	float: left;
	width: 80%;
}

.right-column{
	float: left;
	width: 20%;
}

#card{
	height: 600px;
}

.front{
	background-image: url('resources/mapprint.png');
	background-repeat: no-repeat;
}

.icon-container{
	position: absolute;
}

.icon {
	width: 80px;
	height: 80px;
}

.icon-name{
	display: none;
}

#dewaag {
	left: 325px;
	top: 225px;
}

#vincent {
	left: 275px;
	top: 175px;
}

#hooy {
	left: 100px;
	top: 500px;
}

#namkee {
	left: 550px;
	top: 175px;
}

#hehua {
	left: 300px;
	top: 10px;
}

#unfold-one, #fold-two, #unfold-two {
	display: none;
}



