/* FONT */
@font-face {
    font-family: Avenir Next;
    src: url(/resources/font/AvenirNextLTPro-Regular.otf);
}

body{
	font-family: 'Avenir Next', 'Raleway', sans-serif;
	padding: 20px;
}

img{
	max-width: 100%;
}

.left-column{
	float: left;
	width: 80%;
}

.right-column{
	float: left;
	width: 20%;
}

#card{
	height: 600px;
}

.front{
	background-image: url('resources/mapprint.jpg');
	background-repeat: no-repeat;
}

.icon-container{
	position: absolute;
}

.icon {
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.icon-name{
	display: none;
	position: absolute;
	left: 86px;
	top: 25px;
	font-size: 18px;
	width: 110px;
}

#dewaag {
	left: 337px;
	top: 243px;
}

#vincent {
	left: 275px;
	top: 175px;
}

#jacob {
	left: 100px;
	top: 500px;
}

#namkee {
	left: 550px;
	top: 175px;
}

#hehua {
	left: 300px;
	top: 10px;
}

#unfold-one, #fold-two, #unfold-two {
	display: none;
}

@keyframes changeme {
  from {
    width: 37px;
	height: 37px;
	border-radius: 22px;
  }

  to {
    width: 40px;
	height: 40px;
	border-radius: 25px;
  }
}

#me{
	position: absolute;
	bottom: 116px;
	left: 501px;
	animation-duration: 0.5s;
  	animation-name: changeme;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

.venue-container , .nav-route{
	    width: 50%;
    background-color: #f6f6f6;
    padding: 20px;
}

.header{
font-size: 22px;
line-height: 37px;
font-weight: bold;
}

.opening-times{
padding-bottom: 10px;
color: #d55a00;
}

.fold , .unfold{
	font-size: 20px;
	text-align: center;
	padding: 8px;
	width: 40%;
	cursor: pointer;
	color: #fff;
	margin-bottom:20px; 
}

.fold{
	float: left;
	background-color: #089bf9;
}

.unfold{
	float: right;
	background-color: #f99008;
}

